:root {
  /* Colors */
  --red_500: hsl(4, 85%, 63%);
  --gold_400: hsl(35, 77%, 62%);
  --navy_950: hsl(240, 100%, 5%);
  --navy_600: hsl(236, 13%, 42%);
  --grey_300: hsl(233, 8%, 79%);
  --grey_200: hsl(0, 0%, 85%);
  --white: hsl(0, 100%, 100%);
  --black: hsl(0, 0%, 0%);

  /* Typography */
  --ff: "Inter", sans-serif;
  /* Preset 1 (56px / 56px = 1) */
  --fs-1: 56px;
  --lh-1: 1;
  --fw-1: 800; /* Extra Bold */

  /* Preset 2 (40px / 40px = 1) */
  --fs-2: 40px;
  --lh-2: 1;
  --fw-2: 800;

  /* Preset 3 (32px / 32px = 1) */
  --fs-3: 32px;
  --lh-3: 1;
  --fw-3: 700; /* Bold */

  /* Preset 4 (20px / 24px -> 24/20 = 1.2) */
  --fs-4: 20px;
  --lh-4: 1.2;
  --fw-4: 800;

  /* Preset 5 (18px / 24px -> 24/18 = 1.33) */
  --fs-5: 18px;
  --lh-5: 1.33;
  --fw-5: 800;

  /* Preset 6 (15px / 22px -> 22/15 = 1.46) */
  --fs-6: 15px;
  --lh-6: 1.46;
  --fw-6: 400; /* Regular */

  /*Spacing */
  --spacing-100: 8px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-800: 64px;
  --spacing-1100: 88px;
}
* {
  padding: 0;
  margin: 0;
  font-family: var(--ff);
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100svh;
}
.container {
  width: 1112px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-500);
  margin: var(--spacing-1100);
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}
.menu-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-800);
}
ul li {
  list-style-type: none;
}
ul li a {
  text-decoration: none;
  color: var(--navy_600);
  font-size: var(--fs-6);
  font-weight: var(--fw-6);
  line-height: var(--lh-6);
}
ul li a:hover {
  cursor: pointer;
  color: var(--red_500);
}
main {
  width: 100%;
  display: grid;
  grid-template-areas:
    "hero-post news-sidebar "
    "trending-articles trending-articles";
  gap: var(--spacing-400);
}
.hero-post {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
}
.hero-image img {
  width: 100%;
}
.hero-content {
  display: grid;
  grid-template-columns: auto auto;
  gap: var(--spacing-400);
}
.hero-content h1 {
  font-size: var(--fs-1);
  font-weight: var(--fw-1);
  line-height: var(--lh-1);
}
.hero-details {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
}
.hero-details p {
  font-size: var(--fs-6);
  font-weight: var(--fw-6);
  line-height: var(--lh-6);
}
.hero-button {
  width: 185px;
  height: 48px;
  padding: var(--spacing-100);
  background-color: var(--red_500);
  color: var(--black);
  font-size: var(--fs-5);
  font-weight: var(--fw-5);
  line-height: var(--lh-5);
  font-weight: var(--fw-5);
  border: 0;
}
.news-sidebar {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
  background-color: var(--black);
  color: var(--white);
  padding: var(--spacing-300);
}

.sidebar-title {
  color: var(--gold_400);
  font-size: var(--fs-3);
  font-weight: var(--fw-3);
  line-height: var(--lh-3);
  font-weight: var(--fw-3);
}
.sidebar-item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--navy_600);
  gap: var(--spacing-100);
}
.item-title {
  font-size: var(--fs-4);
  font-weight: var(--fw-4);
  line-height: var(--lh-4);
  font-weight: var(--fw-4);
}
.item-desc {
  font-size: var(--fs-6);
  font-weight: var(--fw-6);
  line-height: var(--lh-6);
  font-weight: var(--fw-6);
  color: var(--grey_300);
  margin-bottom: var(--spacing-400);
}
.trending-articles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-area: trending-articles;
  gap: var(--spacing-500);
}
.trending-card {
  display: grid;
  grid-template-columns: auto auto;
  gap: var(--spacing-300);
}
.trending-card-body {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
}

.card-number {
  font-size: var(--fs-3);
  font-weight: var(--fw-3);
  line-height: var(--lh-3);
  font-weight: var(--fw-3);
  color: var(--red_500);
}
.trending-image img {
  width: 100px;
  height: 150px;
}
.card-title {
  font-size: var(--fs-5);
  font-weight: var(--fw-5);
  line-height: var(--lh-5);
  font-weight: var(--fw-5);
}
.card-text {
  font-size: var(--fs-6);
  font-weight: var(--fw-6);
  line-height: var(--lh-6);
  font-weight: var(--fw-6);
  color: var(--navy_600);
}

@media (max-width: 1024px) {
  body {
    height: auto;
  }

  .container {
    width: 90%;
    margin: 28px auto;
  }

  .menu-toggle.open-menu {
    display: block;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 65%;
    max-width: 312px;
    height: 50vh;
    background-color: var(--white);
    z-index: 10;
    padding: var(--spacing-500) var(--spacing-300);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-800);
    /* Sağda gizli tutuyoruz */
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  /* Menü Aktif Olduğunda */
  .nav-menu.is-active {
    transform: translateX(0);
  }

  .menu-toggle.close-menu {
    display: block;
    align-self: flex-end;
  }

  .menu-list {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-300);
  }

  .menu-overlay {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
  }

  .menu-overlay.is-active {
    display: block;
  }
  ul li a {
    text-decoration: none;
    color: var(--navy_600);
    font-size: var(--fs-5);
    font-weight: var(--fw-6);
    line-height: var(--lh-5);
  }
  main {
    width: 100%;
    display: grid;
    grid-template-areas:
      "hero-post"
      "news-sidebar "
      "trending-articles";
    gap: var(--spacing-400);
  }

  .hero-content {
    display: grid;
    grid-template-columns: auto;
    gap: var(--spacing-400);
  }
  .hero-content h1 {
    font-size: var(--fs-2);
    font-weight: var(--fw-2);
    line-height: var(--lh-2);
  }
  .trending-articles {
    display: flex;
    flex-direction: column;
  }
  .trending-card {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    align-items: center;
  }
  .trending-image img {
    width: 100px;
    height: 127px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 325px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
  }
  .nav-menu {
    width: 70%;
    ul li a {
      text-decoration: none;
      color: var(--navy_600);
      font-size: var(--fs-5);
      font-weight: var(--fw-6);
      line-height: var(--lh-5);
    }
    main {
      width: 100%;
      display: grid;
      grid-template-areas:
        "hero-post"
        "news-sidebar "
        "trending-articles";
      gap: var(--spacing-400);
    }

    .hero-content {
      display: grid;
      grid-template-columns: auto;
      gap: var(--spacing-400);
    }
    .hero-content h1 {
      font-size: var(--fs-2);
      font-weight: var(--fw-2);
      line-height: var(--lh-2);
    }
    .trending-articles {
      display: flex;
      flex-direction: column;
    }
    .trending-card {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: flex-start;
      align-items: center;
    }
    .trending-image img {
      width: 100px;
      height: 127px;
    }
  }
}
